# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/

# Entornos virtuales
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Datos locales opcionales (descomentar si no querés versionar el Excel MTP)
# *.xlsx
